// SECTION FOR CHAT MESSAGES
// -------------------------

.author-pic {
    border-radius: 50%;
}

.typing-indicator {
    margin-left: 20px;
    font-size: 0.75em;
    font-style: italic;
}

.chat-box {
    margin-left: 22px;
}

.channel-name {
    margin-left: 30px;
    padding: 10px;
    background-color: rgb(235, 232, 232);
    border-radius: 10px;
}

.msg {
    div {
        font-size: 0.85em;
        padding: 8px;
        border-radius: 0.75em;
    }
}

.msg-sent {
    justify-content: flex-end;
    div {
        background-color: #bdc8ee;
        p.author {
            text-align: right;
        }
        p.body {
            text-align: left;
        }
    }
}

.no-conversation {
    position: absolute;
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    left: 22%;
    top: 35%;
}

.loader {
    position: absolute;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    left: 35%;
    top: 35%;
    border-top: 6px solid #3498db;
    width: 80px;
    height: 80px;
    z-index: 1000;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.msg-recieved {
    text-align: left;
    justify-content: flex-start;
    div {
        background-color: #b0c7a6;
    }
}

#channel {
    overflow-y: auto;
}

.channel-messages {
    margin-left: 8%;
    margin-right: 8%;
    height: 45vh;
}

.channel-messages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.channel-messages li {
    display: flex;
    padding: 2px;
    position: relative;
    margin-bottom: 2px;
}

.channel-messages li > img {
    width: 20px;
    height: 15pxpx;
    margin-right: 5px;
    border-radius: 50%;
}

.channel-messages p.author {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    width: calc(100% - 90px);
    .user-role {
        font-size: 12px;
        font-style: italic;
        text-decoration: underline;
    }
    .timestamp {
        font-size: 12px;
        font-weight: 500;
    }
}

.channel-messages p.body {
    margin: 0 0 0 35px;
    padding: 0;
    width: calc(100% - 90px);
}

.chat {
    width: 965px;
    float: left;
    background: #ecf0f1;
    border: 0.1rem solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #434651;
}
.chat .chat-header {
    padding: 10px;
    border-bottom: 2px solid white;
}
.chat .chat-header img {
    float: left;
    border-radius: 50%;
}
.chat .chat-header .chat-about {
    float: left;
    padding-left: 5px;
    margin-top: 28px;
}
.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 20px;
}
.chat .chat-header .chat-num-messages {
    color: #92959e;
}

.chat .chat-history {
    padding: 5px 30px 30px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 50vh;
    ul {
        list-style-type: none;
    }
}
.chat .chat-history .message-data {
    margin-bottom: 10px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 5px 10px;
    line-height: 26px;
    font-size: 18px;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86bb71;
    border-width: 10px;
    margin-left: -10px;
}
.chat .chat-history .my-message {
    background: #86bb71;
}
.chat .chat-history .other-message {
    background: #94c2ed;
}
.chat .chat-history .other-message:after {
    border-bottom-color: #94c2ed;
    left: 93%;
}
.chat .chat-message {
    padding: 30px;
}
.chat .chat-message textarea {
    width: 100%;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}
.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}
.chat .chat-message button {
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}
.chat .chat-message button:hover {
    color: #75b1e8;
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86bb71;
}

.offline {
    color: #e38968;
}

.me {
    color: #94c2ed;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
