<div class="jss1552">
    <div class="jss1555">
        <h4 class="jss1554">
            <span class="jss1556" title="Participant is connected"></span>
            {{participant.identity}}
        </h4>
        <div class="jss1564">
            <div style="height: 3px; background: rgb(0, 204, 0);"></div>
            <div style="height: 6px; background: rgb(0, 204, 0);"></div>
            <div style="height: 9px; background: rgb(0, 204, 0);"></div>
            <div style="height: 12px; background: rgb(0, 204, 0);"></div>
            <div style="height: 15px; background: rgb(0, 68, 0);"></div>
        </div>
    </div>
    <div>
        <svg focusable="false" viewBox="0 0 24 24" height="24px" width="24px"><defs><clipPath id="audio-level-clip-15"><rect x="0" y="21" width="24" height="24"></rect></clipPath></defs><path fill="white" d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"></path><path fill="#0c0" clip-path="url(#audio-level-clip-15)" d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"></path></svg>
    </div>
</div>
<video class="jss1567" #vid style="transform: rotateY(180deg);" autoplay="" playsinline=""></video>
