<form class="page-form">
    <div class="form-group">
        <label class="text-label">Customer number</label>
        <input
            name="targetNumber"
            class="form-control"
            type="text"
            [(ngModel)]="targetNumber"
        />
    </div>
    <div class="form-group">
        <label class="text-label">Message</label>
        <textarea
            name="message"
            class="form-control"
            [(ngModel)]="message"
        ></textarea>
    </div>
    <button class="btn btn-primary" (click)="sendSms()">Send SMS</button>
</form>
