<!-- <form class="page-form">
    <div class="form-group">
        <label class="text-label">Customer number</label>
        <input
            name="targetNumber"
            class="form-control"
            type="text"
            [(ngModel)]="targetNumber"
        />
    </div>
    <button class="btn btn-primary" (click)="makeCall()">Make Call</button>
</form> -->
<ng-container *ngIf="mode === 'Customer'">
    <h2 id="support"></h2>
    <p class="lead">
        | Talk with one of our support agents right now by clicking the "Call Support" button on the right. If you can"t talk now, fill out a support ticket and an agent will call you later.
    </p>
</ng-container>
<ng-container *ngIf="mode === 'TaxPro'">

</ng-container>
