<div class="icon-group">
    <div (click)="selectApp('Chat')" [ngClass]="{'active': app === 'Chat'}">
        <a href="javascript:void(0);" class="notification">
            <img id="comp-kbex1t8h__item1defaultImageimage" style="object-position:50% 50%;width:38px;height:39px;object-fit:contain" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/035244_b7e97a2966464f9db45c120a0286b43a~mv2.png/v1/fill/w_48,h_48,al_c,q_85,usm_0.66_1.00_0.01/035244_b7e97a2966464f9db45c120a0286b43a~mv2.webp">
            <span class="badge" *ngIf="liveChatIndicator && app !== 'Chat'">&nbsp;</span>
        </a>
    </div>
    <div (click)="selectApp('Email')" [ngClass]="{'active': app === 'Email'}">
        <img id="comp-kbexaj0v__item1defaultImageimage" style="object-position:50% 50%;width:38px;height:39px;object-fit:contain" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/035244_0ffd26364b1841ca8b891a68587a8769~mv2.png/v1/fill/w_48,h_48,al_c,q_85,usm_0.66_1.00_0.01/035244_0ffd26364b1841ca8b891a68587a8769~mv2.webp">
    </div>
    <div (click)="selectApp('Voice')" [ngClass]="{'active': app === 'Voice'}">
        <img id="comp-kbexasq3__item1defaultImageimage" style="object-position:50% 50%;width:38px;height:39px;object-fit:contain" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/035244_7ab29c72994f4040bafcacadad3a166c~mv2.png/v1/fill/w_48,h_48,al_c,q_85,usm_0.66_1.00_0.01/035244_7ab29c72994f4040bafcacadad3a166c~mv2.webp">
    </div>
    <div (click)="selectApp('Video')" [ngClass]="{'active': app === 'Video'}">
        <img id="comp-kbex24du__item1defaultImageimage" style="object-position:50% 50%;width:38px;height:39px;object-fit:contain" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/035244_d6378551bd0d48a89960ba67dbdeb952~mv2.png/v1/fill/w_48,h_48,al_c,q_85,usm_0.66_1.00_0.01/035244_d6378551bd0d48a89960ba67dbdeb952~mv2.webp">
    </div>
</div>

<div class="app--overlay" *ngIf="app !== ''">
    <ng-container>
        <app-chat [hidden]="app !== 'Chat'" (chatReceived)="showIndicator('Chat')"></app-chat>
    </ng-container>
    <ng-container *ngIf="app === 'Email'">
        <app-email></app-email>
    </ng-container>
    <ng-container>
        <app-voice-call [hidden]="app !== 'Voice'" (callReceived)="showIndicator('Voice')"></app-voice-call>
    </ng-container>
    <ng-container *ngIf="app === 'Video'">
        <app-video-call></app-video-call>
    </ng-container>
</div>