<button class="pointer__wrapper bottom--transition" [ngClass]="{'pointer__wrapper-hidden': !expandedView}"
    (click)="toggleWidget()">
    <span class="pointer__item" [ngClass]="{'pointer__item-toggle': expandedView}">
    </span>
</button>
<div class="btn-group button__wrapper bottom--transition" [ngClass]="{'button__wrapper-hidden': !expandedView}"
    role="group" aria-label="Basic example">
    <button type="button" class="btn btn-dark" (click)="selectApp('Chat')" [ngClass]="{'active': app === 'Chat'}">
        <a href="javascript:void(0);" class="notification">
            <div style="margin-top: 3px;margin-bottom: -3px;">
                <svg class="bi bi-chat-square-dots-fill" width="1em" height="1em" viewBox="0 0 16 16"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm5 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
            </div>
            <span class="badge" *ngIf="liveIndicator && app !== 'Chat'">&nbsp;</span>
        </a>
    </button>
    <button type="button" class="btn btn-dark" (click)="selectApp('Email')" [ngClass]="{'active': app === 'Email'}">
        <i class="fa fa-envelope" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-dark" (click)="selectApp('Voice')" [ngClass]="{'active': app === 'Voice'}">
        <i class="fa fa-phone" [ngClass]="{'video--call-active': liveIndicator && app !== 'Voice'}"
            aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-dark" (click)="selectApp('Video')" [ngClass]="{'active': app === 'Video'}">
        <svg class="bi bi-camera-video-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M2.667 3h6.666C10.253 3 11 3.746 11 4.667v6.666c0 .92-.746 1.667-1.667 1.667H2.667C1.747 13 1 12.254 1 11.333V4.667C1 3.747 1.746 3 2.667 3z" />
            <path
                d="M7.404 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.693-1.01-1.233-.696L7.404 7.304a.802.802 0 0 0 0 1.393z" />
        </svg>
    </button>
</div>

<div class="app--overlay" *ngIf="app !== ''">
    <ng-container>
        <app-chat [hidden]="app !== 'Chat'" (chatReceived)="showIndicator()"></app-chat>
    </ng-container>
    <ng-container *ngIf="app === 'Email'">
        <app-email></app-email>
    </ng-container>
    <ng-container>
        <app-voice-call [hidden]="app !== 'Voice'" (callReceived)="showIndicator()"></app-voice-call>
    </ng-container>
    <ng-container *ngIf="app === 'Video'">
        <app-video-call></app-video-call>
    </ng-container>
</div>