registry=https://hrblock.pkgs.visualstudio.com/_packaging/AssistedOnline/npm/registry/
always-auth=true
audit=false

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 2/2/2020.
; begin auth token
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/registry/:username=AssistedOnline
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/registry/:_password=bDM1ZXBzeXBiamp4cXp4Mnh0cGo2MzN5aXVoeWthcW41NGF2eGhkNm1nb3I3eXhrY2t3YQ==
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/:username=AssistedOnline
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/:_password=bDM1ZXBzeXBiamp4cXp4Mnh0cGo2MzN5aXVoeWthcW41NGF2eGhkNm1nb3I3eXhrY2t3YQ==
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
