<div class="layout">
    <!--  region : sms  -->
    <input
        name="nav"
        type="radio"
        class="nav sms-radio"
        id="sms"
        checked="checked"
    />
    <div class="page sms-page">
        <div class="page-contents">
            <h1>SMS</h1>
            <p></p>
            <p><label for="about">Start a chat</label></p>
        </div>
    </div>
    <label class="nav" for="sms">
        <img
            src="./../assets/images/icons8-sms2-64.png"
            width="30"
            height="30"
            alt="SMS"
        />
        <span>SMS</span>
    </label>
    <!--  end-region : sms  -->

    <!--  region : email  -->
    <input name="nav" type="radio" class="email-radio" id="email" />
    <div class="page email-page">
        <div class="page-contents">
            <h1>Email</h1>
            <p></p>
            <p><a href="">Mail Us</a></p>
        </div>
    </div>
    <label class="nav" for="email">
        <img
            src="./../assets/images/icons8-mailing-64.png"
            width="30"
            height="30"
            alt="Email"
        />
        <span>EMAIL</span>
    </label>
    <!--  end-region : email  -->

    <!--  region : voice-call  -->
    <input name="nav" type="radio" class="voice-radio" id="voice" />
    <div class="page voice-page">
        <div class="page-contents">
            <h1>Voice Call</h1>
            <p></p>
            <p><a href="">Get in touch</a></p>
        </div>
    </div>
    <label class="nav" for="voice">
        <img
            src="./../assets/images/icons8-phone-100.png"
            width="30"
            height="30"
            alt="Voice Call"
        />
        <span>VOICE CALL</span>
    </label>
    <!--  end-region : voice-call  -->

    <!--  region : video-call  -->
    <input name="nav" type="radio" class="video-radio" id="video" />
    <div class="page video-page">
        <div class="page-contents">
            <h1>Video Call</h1>
            <p></p>
            <p><a href="">Get in touch</a></p>
        </div>
    </div>
    <label class="nav" for="video">
        <img
            src="./../assets/images/icons8-video-call-100.png"
            width="30"
            height="30"
            alt="Video Call"
        />
        <span>VIDEO CALL</span>
    </label>
    <!--  end-region : video-call  -->
</div>
