<div class="layout">
    <!--  region : chat  -->
    <input
        name="nav"
        type="radio"
        class="nav chat-radio"
        id="chat"
        checked="checked"
    />
    <div class="page chat-page">
        <div class="page-contents">
            <h1>Chat</h1>
            <p>
                <app-chat></app-chat>
            </p>
        </div>
    </div>
    <label class="nav" for="chat">
        <img
            src="./../assets/images/icons8-sms-64.png"
            width="30"
            height="30"
            alt="Chat"
        />
        <span>Chat</span>
    </label>
    <!--  end-region : chat  -->

    <!--  region : email  -->
    <input name="nav" type="radio" class="email-radio" id="email" />
    <div class="page email-page">
        <div class="page-contents">
            <h1>Email</h1>
            <p>
                <app-email></app-email>
            </p>
        </div>
    </div>
    <label class="nav" for="email">
        <img
            src="./../assets/images/icons8-mailing-64.png"
            width="30"
            height="30"
            alt="Email"
        />
        <span>EMAIL</span>
    </label>
    <!--  end-region : email  -->

    <!--  region : voice-call  -->
    <input name="nav" type="radio" class="voice-radio" id="voice" />
    <div class="page voice-page">
        <div class="page-contents">
            <h1>Voice Call</h1>
            <p>
                <app-voice-call></app-voice-call>
            </p>
        </div>
    </div>
    <label class="nav" for="voice">
        <img
            src="./../assets/images/icons8-phone-100.png"
            width="30"
            height="30"
            alt="Voice Call"
        />
        <span>VOICE CALL</span>
    </label>
    <!--  end-region : voice-call  -->

    <!--  region : video-call  -->
    <input name="nav" type="radio" class="video-radio" id="video" />
    <div class="page video-page">
        <div class="page-contents">
            <p>
                <app-video-call></app-video-call>
            </p>
        </div>
    </div>
    <label class="nav" for="video">
        <img
            src="./../assets/images/icons8-video-call-100.png"
            width="30"
            height="30"
            alt="Video Call"
        />
        <span>VIDEO CALL</span>
    </label>
    <!--  end-region : video-call  -->
</div>
